/* UNIVERSAL RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

/* NAVBAR STYLES */

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 6.4rem;
  background-color: #125080;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  margin-right: 2.5rem;
}

nav li {
  display: inline;
  padding: 0 1.2rem;
  font-weight: bold;
}

li > a {
  font-size: 2rem;
  text-decoration: none;
  color: #F6F6F6;
}

/* INTRO SECTION STYLES */

#intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333333;
}

#intro-block {
  color: #F6F6F6;
  text-align: center;
}

#intro-block > h1 {
  font-size: 3.6rem;
}

#intro-block > h3 {
  font-size: 2.4rem;
  font-style: italic;
}

/* PROJECTS SECTION STYLES */

#projects-section {
  padding: 10rem 2rem;
  text-align: center;
}

#projects-header {
  margin: -5rem 0 5rem 0;
  font-family: "Merriweather", serif;
  font-size: 3.6rem;
  /* text-decoration: underline; */
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.project-card {
  overflow: hidden;
  background-color: #333333;
  border-radius: 0.6rem;
}

.project-img {
  width: 100%;
  height: calc(100% - 6.8rem);
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

/* SKILLS SECTION STYLES */

#skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  background-color: #333333;
}

#skills-header {
  display: block;
  margin: -4rem 0 4rem 0;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
}

#skills-header > h2 {
  font-size: 2.4rem;
}

#skills-header > h3 {
  font-size: 1.6rem;
}

#skills-grid {
  height: 50%;
  width: 50%;
  display: grid;
  grid-gap: 1rem 0.3rem;
  grid-template-columns: repeat(auto);
  grid-template-rows: repeat(100px);
}

#skills-grid p {
  font-size: 1.6rem;
  color: #FFFFFF;
}

#skills-grid span {
  background-color: rgb(175, 55, 55);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

#skills-grid span:hover {
  animation-name: skills-rise;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes skills-rise {
  100% {box-shadow: 2px 2px 1.2rem 0.4rem rgba(255, 255, 255, 0.6);}
}

#html {
  grid-area: 1/1/1/2;
}

#css {
  grid-area: 1/2/1/3;
}

#bootstrap {
  grid-area: 2/1/2/2;
}

#javascript {
  grid-area: 1/3/1/4;
}

#jquery {
  grid-area: 2/2/2/3;
}

#node {
  grid-area: 2/3/2/4;
}

#mdb {
  grid-area: 5/1/5/4;
}

#vc {
  grid-area: 3/1/3/4;
}

#cl {
  grid-area: 4/1/4/4;
}

/* CONTACT SECTION STYLES */

#contact-section {
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 100%;
}

#contact-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: #125080;
}

#contact-links > a {
  font-size: 2.4rem;
  margin: 5px 0;
  color: #F6F6F6;
  font-weight: bold;
}

#contact-form {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* background-color: #125080; */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input, .form-textarea{
  width: 50%;
  height: 3rem;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px;
  box-shadow: 0 0 1.5rem 0.4rem rgba(0, 0, 0, 0.08);
}

.form-textarea {
  height: 5rem;
}

#form-button {
  display: block;
  align-self: center;
  width: 25%;
  padding: 5px;
  border: solid 1px black;
  border-radius: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 0 1.5rem 0.4rem rgba(0, 0, 0, 0.10);
}

#form-button:hover {
  animation-name: button-press;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

@keyframes button-press{
  100% {box-shadow: none;}
}

/* FOOTER STYLES */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100%;
  background-color: #333333;
  color: #FFFFFF;
  font-size: 1.2rem;
}
